.privacy-area {
   flex: 1;
   margin-bottom: 2rem;
}

.privacy-content {
   margin: 0 1.5rem;
   background: var(--white);
   border-radius: var(--radius);
   padding: 0.5rem 1rem;
}

.privacy-span {
   display: block;
   font-weight: 600;
   font-size: 1rem;
   padding: 0.8rem 0;
}

.privacy-h1 {
   font-size: 2rem;
   text-align: center;
   font-weight: 600;
   padding: 1rem 0;
}

.privacy-date {
   font-weight: 600;
   padding: 1rem 0;
}

.privacy-post {
   font-size: 0.9rem;
   margin-left: 0.8rem;
}

.privacy-title {
   font-size: 1.2rem;
   font-weight: 600;
   margin-top: 1rem;
}

.privacy-consent {
   margin-top: 2rem;
   font-weight: 600;
}
