.user-home-dashboard {
  width: 100%;
  background: var(--white);
  margin-bottom: 1rem;
  border-radius: var(--radius);
  border: 1px solid var(--border-white);
}
.user-home-container {
  display: flex;
  padding: 0.3rem 0.4rem;
}
.user-home-profile {
  display: flex;
  width: 100px;
  padding-right: 0.8rem;
  object-fit: cover;
  object-position: center;
  border-right: 1px solid #a6a6a6;
}

.user-home-profile img {
  height: auto;
  object-fit: cover;
  display: block;
  max-width: 100%;
  max-height: calc(50vh + 180px);
  border-radius: var(--radius);
}

.user-home-details {
  display: flex;
  justify-content: space-evenly;
  margin-left: 1rem;
}

.user-home-info {
  width: 18rem;
  text-align: center;
}

.user-home-name {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
}

.user-home-status {
  padding: 0.5rem 0.8rem;
  font-size: 0.6rem;
  font-weight: 900;
  color: var(--white);
  background: var(--green);
  width: max-content;
  margin: 0 auto;
  text-transform: uppercase;
  border-radius: 25px;
}
